<form class="questions-form" [formGroup]="questionForm" (ngSubmit)="onSubmit()">
  <div class="container__text-message">{{questionText}}</div>
  <div class="questions-form__option-wrapper" *ngFor="let answer of answersList; let i = index;" (click)="clickLine($event.target)">
    <div class="questions-form__option">
      <input
        type="radio"
        id="option{{i}}"
        formControlName="answerId"
        value="{{i}}"
        required
      />
      <label class="form-check-label" for="option{{i}}">{{answer}}</label>
    </div>
  </div>
  <div class="button-wrapper button-wrapper__next-button">
    <div>
      <span>&nbsp;</span>
    </div>
    <div>
      <button type="submit" class="button_success" [disabled]="!questionForm.valid">Next step</button>
    </div>
    <div class="button-wrapper__page_counter">
      <span>Q. #{{stepInfo.currentStep}} of {{stepInfo.totalSteps}}</span>
    </div>
  </div>
</form>
