<div class="container">
  <div class="row justify-content-md-center welcome-block">
    <!--Show an initial text.-->
    <div class="text-center" *ngIf="currentQuestionId === undefined">
      <h3>
        Welcome to the simple quiz-game about a trainee developer!
      </h3>
      <div id="welcome-text" class="jumbotron">
        Hello, dear friend.
        You're an intern in a software company.
        Your goal is study enough fast to pass an exam after a week of work.
        But care about your motivation to do not burn out.
      </div>
      <button class="btn btn-success" (click)="startGame(options)">Start the game</button>
    </div>
  </div>
  <!--Show the header with scores.-->
  <div class="row justify-content-md-center scores-bar" *ngIf="currentQuestion || showFinalResult">
    <div class="col-md-4 font-weight-bold motivation-score">
      <span class="badge  badge-light">Motivation: {{playerMotivation}}</span>
      <span class="badge" *ngIf="showQuestionResult" [ngClass]="{'badge-danger': currentAnswerResult.p1 < 0, 'badge-success': currentAnswerResult.p1 >= 0}">
        {{formatScore(currentAnswerResult.p1)}}
      </span>
    </div>
    <div class="col-md-4 offset-md-4 font-weight-bold">
      <span class="badge  badge-light">Knowledge: {{playerKnowledge}}</span>
      <span class="badge" *ngIf="showQuestionResult" [ngClass]="{'badge-danger': currentAnswerResult.p2 < 0, 'badge-success': currentAnswerResult.p2 >= 0}">
        {{formatScore(currentAnswerResult.p2)}}
      </span>
    </div>
  </div>
  <!--Show the question form.-->
  <div class="row justify-content-md-center" *ngIf="currentQuestion && !showQuestionResult">
    <!--@todo move qtext inside of the form?-->
    <div class="col-12 text-center form-group">{{currentQuestion.qtext}}</div>
    <div class="col-12">
      <app-question-form
        [answers]="currentQuestion.answers"
        (submittedData)="onSubmitAnswer($event)">
      </app-question-form>
    </div>
  </div>
  <div class="row justify-content-md-center answer-result">
    <!--Show result of the question.-->
    <div id="question-result" class="text-center" *ngIf="showQuestionResult">
      <div class="jumbotron">
        {{ currentAnswerResult.rtext }}
      </div>
      <button class="btn btn-success" (click)="getNextQuestion()">Next step</button>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <!--Show final result.-->
    <div id="final-text" getNextQuestionclass="text-center" *ngIf="showFinalResult">
      <div>FINAL TEXT!</div>
      <br />
      <button class="btn btn-success" (click)="restartGame()">Try again</button>
    </div>
  </div>
</div>
