/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

.container {
  margin-top: 15px;
}

.questions-form .alert {
  padding-left: 1.75rem;
}

@media (min-width: 768px) {
  .motivation-score {
    text-align: right;
  }
}

.scores-bar {
  margin-bottom: 10px;
}

.scores-bar .badge {
  font-size: 150%;
}
